{%extends 'base.html'%}

{%block title%}About Us | Blog.io{%endblock%}

{%block content%}

{% load static %}

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <h2 class="d-flex justify-content-center contentHeadings">About Us!</h2>
    <hr>
    <br>
    <br>
    <h3 class="d-flex justify-content-center minorHeadings">Welcome To Blog.io</h3>
    <br>
    <br>
    <div class="container">
        <p class="paraContent">Hello, Dear friends, Welcome to <span class="minorHeadings">Blog.io</span> also, we are
            happy you want to know something more about our site
            So, basically, nowadays people are more dependent on online products and services that's why we also, take
            forward a step to help you.
            Our first wish is to provide you with a better solution to solve your problem. So, kindly if you don't get
            any solution then mention it in the comment section.
            Also, we are trying to provide fresh & latest content that provides you ideas about all updated information
            that's happening in the world.
            In the below section you can get more ideas about our site like our website category and content category.
            If you have additional questions or require more information about our About Us Page, do not hesitate to
            contact us through email at <b>businesswithsatyam9555@gmail.com</b></p>
        <br>
        <h2 class="contentHeadings"><b>What is Our Goal?</b></h2>
        <br>
        <p class="paraContent">There are millions of websites created every day, also, there is much fake content spread
            on the internet.
            So, Our main goal is to provide you with 100% Original and Safe content that provides you
            a great and better experience on the world wide web.
            We mainly focus on our service so and improving it regularly to provide a better user
            experience to all users.
            Basically, we focus on the Technology and IT niche so, our main priority is to search for
            new content and present it in front of you to learn something new. </p>
        <br>
        <h2 class="contentHeadings"><b>What is our Service?</b></h2>
        <br>
        <p class="paraContent">We are mainly focused on the Technology and IT category so, we provide Technology and IT
            related content if
            you are interested in the Technology and IT category then you can visit daily to get more latest
            information.
            We provide all information in the field of Technology and IT sector such as coding related stuff, notes and
            other materials.
            On our website Blog.io you get can all Technology and IT related information also, we focus on many other
            categories and we hope you like also, the content of other categories that are maintained on our website.
            So, you can visit our website homepage to know all category details here you can visit our homepage Click
            here --><a class="minorHeadings" href="https://blogio-production-9555.up.railway.app/">Blog.io</a>.
        </p>

        <h2 class="contentHeadings"><b>About Blog.io</b></h2>
        <p class="paraContent">As you can see already we mention what is our goal and Service again we repeat that we
            mainly focus on
            Technology and IT Category to help people.
            This Website is Created By Blog.io to help people because many people are still spending hours of time to
            get
            exact information so, this is the only motive to create <a
                href="https://blogio-production-9555.up.railway.app/">Blog.io</a> to help people and provide them a
            better web experience.</p>
        <p class="paraContent">Now, the time is to know about the Admin Details of this website, so, now we have to go
            down to know about
            Admin details.</p>
        <br>
        <hr>
        <br>
        <h3 class="contentHeadings"><b>Admin's Statement for Blog.io</b></h3>
        <p class="paraContent">As per my point of view, there are many people who visit the internet to get some
            information but 90% of the
            time they get wrong information so, the first priority of our website Blog.io is to provide 100% legit and
            accurate information to our users, Also, I hope my dream comes true one day, and our website will provide
            Original Content to provide a better user experience. So, From my Side thanks for visiting our website.</p>
        <br>
        <hr>
        <br>
        <h3 class="contentHeadings"><b>Admin's Contact Information</b></h3>
        <p class="paraContent">Hi, this Satyam Singh, in the above paragraph you know about the website properly and now
            I am going to
            provide my contact details.
            If you have any problem & suggestions for this website then you can contact me by using following contact
            details.</p>
        <div class="container">
            <center>
                <hr>
                <table>
                    <tbody>
                        <tr>
                            <td class="contentHeadings">Name : </td><strong>
                                <td class="minorHeadings">Satyam Singh
                            </strong></td>
                        </tr>
                        <tr>
                            <td class="contentHeadings">Email : </td>
                            <td><strong>businesswithsatyam9555@gmail.com</strong></td>
                        </tr>
                        <tr>
                            <td class="contentHeadings">Facebook Id : </td>
                            <td><a
                                    href="https://www.facebook.com/profile.php?id=100011775780828"><strong>https://www.facebook.com/profile.php?id=100011775780828</a></strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="contentHeadings">Twitter Id : </td>
                            <td><strong><a
                                        href="https://mobile.twitter.com/s_sattu_s">https://mobile.twitter.com/s_sattu_s</a></strong>/
                            </td>
                        </tr>
                        <tr>
                            <td class="contentHeadings">Instagram Id : </td>
                            <td><a
                                    href="https://instagram.com/s_sattu_s"><strong>https://instagram.com/s_sattu_s</strong></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </center>
        </div>
        <p class="paraContent">These details are my personal Account details if you want to contact me then you can
            contact me by the above
            platform.</p>
        <center>
            <br>
            <br>
            <hr>
            <h2 class="contentHeadings">"Thanks for visiting our About Us Page"</h2>
            <hr>
        </center>
    </div>
</div>




{%endblock%}