{%extends 'base.html'%} {%block title%}Blogs | Blog.io{%endblock%} {%block content%}

<!-- {% load static %} -->
<div class="container">
    <br />
    <br />
    <br />
    <br />
    <hr />
    <h2 class="mx-4 my-0 text-center contentHeadings">Categories</h2>
    <hr />
    <br />
    <br />
</div>

<div class="container">
    <div class="owl-carousel">
        {% for c in cats %}
        <div class="row d-flex justify-content-center">
            <div class="card categoryStyling" style="width: 23rem;">
                <img src="/media/{{c.Image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>{{c.Title}}</b></h5>
                    <p class="card-text">{{c.Description | truncatewords:10 | safe}}</p>
                    <a href="/category/{{c.url}}"
                        class="btn btn-primary readBtn categoryStyling d-flex justify-content-center">View Category</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>


<div class="container">
    <br />
    <br />
    <br />
    <br />
    <hr />
    <h2 class="mx-4 my-0 text-center contentHeadings">Blogs</h2>
    <hr />
    <br />
    <br />
</div>

<!-- Grids With Mansory Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>

<div class="container">
    <div class="row" >
        {% for p in posts %}
        <div class="col-md-auto">
            <div class="card cardStyling">
                <img src="/media/{{p.Image}}" class="card-img-top imgBlur" alt="{{p.Title}}" />
                <div class="card-body">
                    <h3 class="card-title">{{p.Title}}</h3>
                    <h6 class="card-title">{{p.Category}}</h6>
                    <p class="card-text">
                        {{p.Content | truncatewords:100 | safe }}
                    </p>
                    <br>
                    <hr>
                    <a href="/blog/{{p.url}}" class="btn readBtn">Read More</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}