<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://www.instagram.com/s_sattu_s/"><i class="fa-brands fa-instagram"></i></a
      ><a href="https://github.com/satyam8932"><i class="fa-brands fa-github"></i></a
      ><a href="https://twitter.com/s_sattu_s"><i class="fa-brands fa-twitter"></i></a
      ><a href="https://www.facebook.com/profile.php?id=100011775780828"><i class="fa-brands fa-facebook"></i></a>
      <!-- <a href="#"><i class="fa-brands fa-briefcase"></i></a> -->
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/home">Home</a></li>
      <li class="list-inline-item"><a href="/blog">Blogs</a></li>
      <li class="list-inline-item"><a href="/about">About Us</a></li>
      <!-- <li class="list-inline-item"><a href="#">Terms</a></li> -->

    </ul>
    <p class="copyright">Blog.io By Satyam Singh © 2023</p>
  </footer>
</div>
